
.text {
    display: flex;
   color: brown;
    position: relative;
    height: 40px;
    margin-top: 10%;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}
body {
    background-color:rgb(255, 255, 255);
    background-size: cover;  
}
img {display: block; 
    margin: auto; 
    height: 50%;}
.knopka { 
    display: flex;
    background-color:green;
    border-radius: 10px;
    position: relative;
    height: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 1%;
    color: rgb(253, 252, 251);
    transition: background-color 1s ease; 
}
.knopka:hover {
  background-color: rgba(204, 0, 0, 0.411); 
}